useDynLib(fastaugsynth, .registration = TRUE)
S3method(predict,augsynth)
S3method(print,augsynth)
S3method(print,summary.augsynth)
S3method(summary,augsynth)
export(augsynth)
export(backend_install)
export(jols_fit_xy)
export(jridge_fit_xy)
export(backend_path)
export(backend_status)
export(single_augsynth)
